body, html {
  height: 100%;
  margin: 0;
  background-color: #f3f3f3;
}

.bgimg-1 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/bgindex.jpg");
  min-height: 100%;
}
nav {
  position: relative;
  padding: 15px;
  opacity: 1;
}
nav h4 {
  color: #fff;
  margin: 0;
  padding: 0;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
} nav li a {color: white;}

.btn {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 400;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.btn:active, .btn:focus, .btn:hover {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #111;
}
.btn:active, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.socialicons {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #111;
  border-radius: 100%;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  width: 38px;
  height: 38px;
  padding: 8px;
}
.socialicons:active, .socialicons:focus, .socialicons:hover {
  background-color: #fff;
  color: #111;
} .masthead {
  color: #fff;
}
.downarrow {  position: absolute; bottom: 0; left: 50%;}
.downarrow a {
  position: relative;
  left: -50%;
  font-size: 60px;
  color: #fff;
} .downarrow a:active. .downarrow a:focus, .downarrow a:hover {
  color: #fff;
}


.content {
 position:relative;
 width:100%
}
.content svg {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%
}
.contentwork{
  padding:100px 0 250px;
  z-index: -5;
} .contentwork svg {z-index: -100;}
.contentwork img {
  display: block;
  margin: 0 auto;
}



.jim {
  position: relative;
  width: 433px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.jimage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.jim:hover {
  margin-top: -10px;
}

.jim:hover .overlay {
  opacity: 1;
}

.jtext {
  background-color: #f3f3f3;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.contentabout{
  margin: -360px 0 0 0;
  padding:220px 0 250px;
  z-index: -1;
}.contentabout svg {
  z-index: -2;
}
.contentextra{
  margin: -180px 0 0 0;
  padding:100px 0 200px;
  z-index: -5;
} .contentextra svg {z-index: -100;}


div.polaroid {
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 35px
}

div.polaroidtxt {
  height: 30px;
  margin: -10px 0 0 0;
  padding: 10px;
  background-color: #f3f3f3;
}
.polaroid:hover {
  margin-top: -10px;
}

.contentfooter {
  margin: -60px 0 0 0;
  padding: 20px 0 0 0;
  z-index: -2;
  text-align: center;
} .contentfooter svg {z-index: -3;}
