body, html {
  height: 100%;
  margin: 0;
  background-color: #f3f3f3;
}

.bgimg-1 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/bgword.jpg");
  min-height: 100%;
}
nav {
  position: relative;
  padding: 15px;
  opacity: 1;
}
nav h4 {
  color: black;
  margin: 0;
  padding: 0;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
} nav li a {color: white;}

.content {
 position:relative;
 width:100%
}
.content svg {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%
}
.contentwork{
  padding:220px 0 250px;
  z-index: -5;
} .contentwork svg {z-index: -100;}
.contentwork img {
  display: block;
  margin: 0 auto;
}
#r img{
  margin-top: 50px;
}

.contentabout{
  margin: -220px 0 0 0;
  padding:220px 0 250px;
  z-index: -5;
}
.contentextra{
  margin: -96px 0 0 0;
  padding:220px 0 250px;
  z-index: -5;
} .contentextra svg {z-index: -100;}

.contentfooter {
  margin: -60px 0 0 0;
  padding: 20px 0 0 0;
  z-index: -2;
  text-align: center;
} .contentfooter svg {z-index: -3;}
